{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h2>Votre commande</h2>

    <a href="{{ path('cart_buyer',{'id': (app.user.id)}) }}" class="btn btn-dark mb-4"><i class="fas fa-shopping-cart mr-2"></i>Retour au panier</a>
    {% if app.user.addresses[0] is defined %}
    <table class="table">
        <tbody>
            <tr>
                <th>Adresse de facturation</th>
                <td>         
                    {{ app.user.addresses[0].street }}<br>
                    {{ app.user.addresses[0].zipCode }} {{ app.user.addresses[0].city }}, 
                    {{ app.user.addresses[0].country }}
                </td>
                <td></td>
            </tr>

            <tr>
                <th>Adresse de livraison</th>
                <td>
                    {{ app.user.addresses[0].street }}<br/>
                    {{ app.user.addresses[0].zipCode }} {{ app.user.addresses[0].city }}, 
                    {{ app.user.addresses[0].country }}
                </td>
                <td>
                    <a class="btn btn-dark" href="{{ path('address_new') }}">Changer d'adresse</a>
                </td>
            </tr>

            <tr>
                <th>Transporteur : </th>
                <td>{{ order.carrier }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <p>Aucune adresse n'a été trouvée, vous pouvez en renseigner une <a class="btn btn-dark" href="{{ path('address_new') }}">ICI</a></p>
    {% endif %}
    <h2>Détails de la commande</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead">
                <tr>
                    <th scope="col">Appellation</th>
                    <th scope="col">Couleur</th>
                    <th scope="col">Type</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Millésime</th>
                    <th scope="col">Prix unitaire</th>
                    <th scope="col">Quantité</th>
                    <th scope="col" class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
            {% for cart in carts %}
                <tr>
                    <td scope="row">{{ cart.product.appellation.name }}</td>
                    <td>{{ cart.product.color.name }}</td>
                    <td>{{ cart.product.type.name }}</td>
                    <td>{{ cart.product.capacity }}</td>
                    <td>{{ cart.product.vintage }}</td>
                    <td>{{ cart.product.price }} €</td>
                    <td>{{ cart.quantity }}</td>
                    <td class="text-right">{{ cart.totalAmount }} €</td>
                </tr>
            {% endfor %}
                <tr>
                    <th scope="row"></th>
                    <td colspan="4"></td>
                    <td style="font-weight:bold">Sous-total</td>
                    <td>{{ totalQuantity }}</td>
                    <td class="text-right">{{ totalCartAmount }} €</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="4"></td>
                    <td style="font-weight:bold">Frais de port</td>
                    <td></td>
                    <td class="text-right">{{order.shippingCosts }} €</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="4"></td>
                    <td style="font-weight:bold">Total</td>
                    <td></td>
                    <td class="text-right">{{ totalCartAmount + order.shippingCosts }} €</td>
                </tr>

            </tbody>
        </table>
        <div class="text-right mt-2">
        {% if app.user.addresses[0] is defined %}
            <a class="btn btn-dark " id="displayLoaderBtn" href="{{ path('cart_validate',{'companyId': company.id}) }}"><i class="far fa-credit-card mr-2"></i>Procéder au paiement</a>
        {% else %}
        <p>Vous devez renseigner une adresse avant de pouvoir valider votre commande</p>
        {% endif %}
        </div>
        <div id="loaderBox" hidden>
        <img src="https://www.weinwunderland.de/assets/frontend/img/preloader.gif">
    </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/loader.js') }}"></script>
{% endblock %}