{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}

<div class="container py-7">
    <h2 class="text-uppercase text-letter-spacing-xs my-0 text-dark font-weight-bold">
      NOTRE ÉQUIPE <i class="ion-ios-body pl-1 text-primary op-8 z-index-1"></i>
    </h2>
    <hr class="hr-primary w-15 hr-xl ml-0 mb-5">
    <div class="row mb-5">
      <div class="col-md-6 order-md-2">
        <img src="{{ asset('images/Marjolaine.png')}}" alt="Marjolaine" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
      </div>
      <div class="col-md-6 flex-valign text-md-right">
        <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
          Marjolaine
        </h3>
        <h5 class="my-0 font-weight-normal">
          <em>Product Owner</em>
        </h5>
        <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
        <p>Heille les ti-culs, vous er'virez de bord drette là si vous pensez que vous vous écartez dans le bois talheure.</p>
        <p>J'ai ben d'la misère avec les colons en bedaine. Des patates pilées, du steak haché, du maïs en crème, pis kin toé, du pâté chinois. Lâche pas la patate, enwoye, tu rentres la gogosse dans la slot pis ça va le faire. </p>
        <a href="https://github.com/marjolaineltr" style="color: #6e081f;"><i class="fab fa-github fa-2x mr-2"></i></a>
        <a href="https://www.linkedin.com/in/marjolaineleteurtre/" style="color: #6e081f;"><i class="fab fa-linkedin fa-2x mr-2"></i></a>
        <a href="https://twitter.com/marjolaineltr" style="color: #6e081f;"><i class="fab fa-twitter-square fa-2x mr-2"></i></a>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 text-md-right">
        <img src="{{ asset('images/Maulde.png')}}" alt="Personal Trainer 4" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
      </div>
      <div class="col-md-6 flex-valign">
        <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
          Maulde
        </h3>
        <h5 class="my-0 font-weight-normal">
          <em>Scrum Master</em>
        </h5>
        <hr class="hr-primary w-70 ml-0 mb-3">
        <p>Bon, câlisse, tu vas-tu me crisser patience ? T'es de bonne heure sul piton toé à matin, quessé qui t'arrive ? Ya 'ien qu'une affaire qui me démange, c'est de le pogner par les dessours de bras pis de le câlicer au travers du châssis. .</p>
        <p>Mâ t'en faire moé des patentes de même, tu vas m'entendre baptinse. Je crisse mon camp d'icite anyway, je déguedine au plus sacrant, ça sent la cibole de marde.</p>
        <a href="https://github.com/MOL2" style="color: #6e081f;"><i class="fab fa-github fa-2x mr-2"></i></a>
        <a href="https://www.linkedin.com/in/maulde-regnier/" style="color: #6e081f;"><i class="fab fa-linkedin fa-2x mr-2"></i></a>
        <a href="https://twitter.com/mauldeaimemika" style="color: #6e081f;"><i class="fab fa-twitter-square fa-2x mr-2"></i></a>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 order-md-2">
        <img src="{{ asset('images/David.png')}}" alt="David" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
      </div>
      <div class="col-md-6 flex-valign text-md-right">
        <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
          David
        </h3>
        <h5 class="my-0 font-weight-normal">
          <em>Lead Dev Front</em>
        </h5>
        <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
        <p>Il va manger un esti de char de marde tu vas vouère. Mon char est resté pogné dans crisse de slotche toute la nuite. Yé un peu niaiseux le niochon de voisin, il crisse eu'rien avec sa vie. </p>
        <p>T'es de bonne heure sul piton toé à matin, quessé qui t'arrive ? Je crisse mon camp d'icite anyway, je déguedine au plus sacrant, ça sent la cibole de marde.</p>        
        <a href="https://github.com/DavidWD-T" style="color: #6e081f;"><i class="fab fa-github fa-2x mr-2"></i></a>
        <a href="https://www.linkedin.com/in/david-thelemaque-63800a190/" style="color: #6e081f;"><i class="fab fa-linkedin fa-2x mr-2"></i></a>
        <a href="https://twitter.com/DavidWD_T" style="color: #6e081f;"><i class="fab fa-twitter-square fa-2x mr-2"></i></a>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 text-md-right">
        <img src="{{ asset('images/Lou-slip.png')}}" alt="Lou" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
      </div>
      <div class="col-md-6 flex-valign">
        <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
          Lou
        </h3>
        <h5 class="my-0 font-weight-normal">
          <em>Git Master</em>
        </h5>
        <hr class="hr-primary w-70 ml-0 mb-3">
        <p>Arrête de faire la baboune tabaslack, a va fondre la slutch. Bon, câlisse, tu vas-tu me crisser patience ? Ferme-toé un peu le mâche-patate là, va prendre une marche ou quelque chose. .</p>
        <p>Baptême de crisse de cibole de viande à chien, j'en ai plein mon casse d'être toute décalissé de la vie, avec le windshier de mon char toute déviargé par l'autre esti de cave. Gârd le, y dort sua job le ptit esti, toute évaché comme un crisse, il me gosse câlisse.</p>
        <a href="https://github.com/LouGrom" style="color: #6e081f;"><i class="fab fa-github fa-2x mr-2"></i></a>
        <a href="https://www.linkedin.com/in/lou-gromenil/" style="color: #6e081f;"><i class="fab fa-linkedin fa-2x mr-2"></i></a>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6 order-md-2">
          <img src="{{ asset('images/Zack.png')}}" alt="Zack" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60 rounded-circle">
        </div>
        <div class="col-md-6 flex-valign text-md-right">
          <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
            Zack
          </h3>
          <h5 class="my-0 font-weight-normal">
            <em>Lead Dev Back</em>
          </h5>
          <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
          <p>Mon char est resté pogné dans crisse de slotche toute la nuite. J'ai finalement pogné la twist pour faire la poutine. Calvenusse de tabarnouche de mausus de cârosse de patente à gosse.</p>
          <p> Toryeu que c'est cheap cette esti de cochonnerie-là. Quessé tu veux j'te dise sacrament, fouille-moé bout d'viarge, je le sais-tu moé. Sa blonde m'en a sacré toute une au parcheesi, mais elle a été mardeuse.</p>
          <a href="https://github.com/Styriis" style="color: #6e081f;"><i class="fab fa-github fa-2x mr-2"></i></a>
          <a href="https://www.linkedin.com/in/zack-fournier/" style="color: #6e081f;"><i class="fab fa-linkedin fa-2x mr-2"></i></a>
          <a href="https://twitter.com/Styrisvolurhin" style="color: #6e081f;"><i class="fab fa-twitter-square fa-2x mr-2"></i></a>
        </div>
      </div>
  </div>

{% endblock %}
