{% extends 'base.html.twig' %}

{% block title %}Résultat de la recherche{% endblock %}

{% block body %}

<!-- Affichage du résultat de la recherche sur la liste des boutiques -->
{% if companies %}

            <h3 class="text-center mb-5">Liste des boutiques</h3>

            <div class="row row-cols-1 row-cols-md-3">
                {% for company in companies %}
                <div class="col mb-4">
                    <div class="card h-100">
                        <a href="{{ path('company_show',{'id': company.id}) }}"><img src="{{ company.picture }}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title text-center"><a href="{{ path('company_show',{'id': company.id}) }}">{{ company.name }}</a></h5>
                            {% for i in 0..random(4) %}
                                <i class="fa fa-star" aria-hidden="true"></i>
                            {% endfor %}
                            {% if company.seller[0].addresses[0] is defined and company.seller[0].productsForSale[0] is defined %}
                            <div class="d-flex justify-content-between">
                                <p class="card-text">{{ company.seller[0].addresses[0].zipcode }} - {{ company.seller[0].addresses[0].city }}</p>
                                <p>{{ company.seller[0].productsForSale[0].area }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
{% endif %}

<!-- Affichage du résultat de la recherche sur la liste des produits -->
{% if products %}


        <h3 class="text-center mt-2 mb-5">Liste des produits</h3>
    
        <div class="row row-cols-1 row-cols-md-3">
            {% for product in products %}
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="imageContainer">
                    {% if product.status == 0 %}
                        <div class="notToSell">
                        <p>
                            Ce produit n'est pas disponible à la vente
                        </p>
                        </div>
                    {% endif %}
                        <a href="{{ path('product_show_shop', {'id': product.id}) }}"><img src="{{ product.picture }}" class="card-img-top" alt="..."></a>
                    
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title text-center"><a href="{{ path('product_show_shop', {'id': product.id}) }}">{{product.appellation.name }}</a></h5>
                            <p>{{product.price}}€</p>
                        </div>
                        {% for i in 0..random(4) %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                        {% endfor %}
                        <p class="card-text">{{product.cuveeDomaine}}</p>
                        <p>{{product.description|length > 100 ? product.description|slice(0, 70) ~ '(...)' : product.description}}</p>
                        <a href="{{ path('product_show_shop', {'id': product.id}) }}" class="btn btn-dark">Détails <i class="fa fa-search"></i></a></td>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
{% endif %}


{% if companies is empty and products is empty and appellations is empty  %}
Oups aucun résultat.. essaies encore ;)
{% endif %}

{% endblock %}
