{% extends 'base.html.twig' %}

{% block title %}Boutiques{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Liste des boutiques</h1>

    <div class="row row-cols-1 row-cols-md-3">
        {% for company in companies %}
        <div class="col mb-4">
            <div class="card h-100">
                <a href="{{ path('company_show',{'id': company.id}) }}"><img src="{{ company.picture }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title text-center"><a href="{{ path('company_show',{'id': company.id}) }}">{{ company.name }}</a></h5>
                    <div class=" d-flex justify-content-center">
                    {% for i in 1..company.rate %}
                        <i class="fa fa-star" aria-hidden="true"></i>
                    {% endfor %}
                    </div>
                    {% if company.seller[0].addresses[0] is defined and company.seller[0].productsForSale[0] is defined %}
                    <div class="d-flex justify-content-between">
                        <p class="card-text">{{ company.seller[0].addresses[0].zipcode }} - {{ company.seller[0].addresses[0].city }}</p>
                        <p>{{ company.seller[0].productsForSale[0].area }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
