{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="container">

  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
      <li class="breadcrumb-item"><a href="{{ path('profile') }}">Mon profil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Mon entreprise</li>
    </ol>
  </nav>
  <!-- /Breadcrumb -->

  <div class="row gutters-sm">
    <div class="col-md-4 d-none d-md-block">
      <div class="card">
        <div class="card-body">
          <nav class="nav flex-column nav-pills nav-gap-y-1">
            <a href="#company" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
              <i class="fas fa-building mr-3"></i>Informations de l'entreprise</a>
            <a href="#destination" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
              <i class="fas fa-map-marked-alt mr-3"></i></i>Mes destinations</a>
            <a href="#package" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
              <i class="fas fa-box-open mr-3"></i></i>Mes formats de colis</a>
            </a>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header border-bottom mb-3 d-flex d-md-none">
          <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
            <li class="nav-item">
              <a href="#company" data-toggle="tab" class="nav-link has-icon"><i class="fas fa-building"></i></a>
            </li>
            <li class="nav-item">
              <a href="#destination" data-toggle="tab" class="nav-link has-icon"><i class="fas fa-map-marked-alt"></i></a>
            </li>
            <li class="nav-item">
              <a href="#package" data-toggle="tab" class="nav-link has-icon"><i class="fas fa-box-open"></i></a>
            </li>
          </ul>
        </div>
        <div class="card-body tab-content">
          <div class="tab-pane active" id="company">
            <h6>INFORMATIONS DE L'ENTREPRISE</h6>
            <hr>
                <form method="post" action="{{ path('edit_company') }}">
                  <div class="col-sm-12 col-md-9 ml-auto mr-auto mb-3">            
          
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-dark">Valider</button>
                  </div>
                </form>
              </form>
          </div>
          <div class="tab-pane" id="destination">
            <h6>MES DESTINATIONS</h6>
            <hr>  
            <div>
              <div class="col-12 mb-3">
              {# Div principale des Destinations#}
                <div class="d-md-flex justify-content-between" id="destinations">
                  <div id="national">
                      <p class="h5 text-center">National</p>
                      {% for destination in destinations %}
                      {% if destination.zone == 'National' %}
                      <div class="ml-5 ml-md-0">
                          <input class="destination" type="checkbox" id="{{ destination.country }}" value="{{ destination.id }}" name="{{ destination.country }}" {% if destination in app.user.company.destinations %}checked{% endif %}>
                          <label for="{{ destination.country }}">{{ destination.country }}</label>
                      </div>
                  <div>
                </div>
                {% endif %}
                {% endfor %}
                </div>
                {#Europe#}
                <div id="europe">
                    <p class="h5 text-center">Europe</p>
                    {% for destination in destinations %}
                        {% if destination.zone == 'Europe' %}
                        <div class="ml-5">
                            <input class="destination" type="checkbox" id="{{ destination.country }}" value="{{destination.id}}" name="{{ destination.country }}" {% if destination in app.user.company.destinations %}checked{% endif %}>
                            <label for="{{ destination.country }}">{{ destination.country }}</label>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {#Monde#}
                <div id="world">
                    <p class="h5 text-center">Monde</p>
                    {% for destination in destinations %}
                        {% if destination.zone == 'World' %}
                        <div class="ml-5">
                            <input class="destination" type="checkbox" id="{{ destination.country }}" value="{{ destination.id }}" name="{{ destination.country }}" {% if destination in app.user.company.destinations %}checked{% endif %}>
                            <label for="{{ destination.country }}">{{ destination.country }}</label>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                </div> 
              </div>
            </div>
          </div>
          <div class="tab-pane" id="package">
            <h6>MES FORMATS DE COLIS</h6>
            <hr>
              <div>
                <button class="btn btn-dark addPackage mb-3" id="add"><i class="fas fa-plus"></i> Ajouter</button>
              </div>
              <div class="table-content table-responsive">
                <table class="table table-striped text-center" id="table-list">
                  <thead class="thead">
                    <tr>
                      <th hidden>id</th>
                      <th>Nombre de bouteilles</th>
                      <th>Hauteur (en cm)</th>
                      <th>longueur (en cm)</th>
                      <th>Largeur (en cm)</th>
                      <th>Poids (en kg)</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for package in packages %}
                    <tr class="package">
                        <td class="packageId" hidden>{{ package.id }}</td>
                        <td class="bottleQuantity">{{ package.bottleQuantity }}</td>
                        <td class="height">{{ package.height }}</td>
                        <td class="length">{{ package.length }}</td>
                        <td class="width">{{ package.width }}</td>
                        <td class="weight">{{ package.weight }}</td>
                    </tr>
                    {% endfor %}
                    {% if packages is empty %}
                    <tr>
                        <td class="packageId" hidden></td>
                        <td class="bottleQuantity"></td>
                        <td class="height"></td>
                        <td class="length"></td>
                        <td class="width"></td>
                        <td class="weight"></td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/profile.js') }}"></script>
{% endblock %}