{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<h1 class="text-center">Bienvenue sur votre tableau de bord {{ app.user.firstname }} </h1>

<div class="d-flex justify-content-around">
    <ul class="nav nav-pills">
        <li class="active mr-3"><a href="#products" data-toggle="pill" class="btn btn-dark">Mes produits <i class="fa fa-wine-bottle"></i></a></li>
        <li class="active"><a href="#orders" data-toggle="pill" class="btn btn-dark">Mes commandes <i class="far fa-credit-card"></i></a></li>
    </ul>
</div>
<div class="tab-content text-center">
    <div id="products" class="tab-pane fade in active">
        {# TABLEAU DES PRODUITS #}
        <div class="d-flex mt-4">
            <h2>Mes produits :</h2>
            <a href="{{ path('product_new')}}" class="btn btn-dark mb-4 ml-3"><i class="fa fa-plus" aria-hidden="true"></i> <span class="d-none d-md-inline">Ajouter un p</span><span class="d-md-none">P</span>roduit </a>
        </div>
        <div class="table-responsive">
            <table class="table">
            <thead class="thead">
                <tr>
                <th scope="col">Appellation</th>
                <th scope="col">Type</th>
                <th scope="col">Couleur</th>
                <th scope="col">Code douanier</th>
                <th scope="col">Stock</th>
                <th scope="col">Prix</th>
                <th scope="col">Détails</th>
                </tr>
            </thead>
            <tbody>
            {% for product in productsList %}
                <tr>
                <td>{{ product.appellation.name }}</td>
                <td>{{ product.type.name }}</td>
                <td>{{ product.color.name }}</td>
                <td>{{ product.hsCode }}</td>
                <td>{{ product.stockQuantity }}</td>
                <td>{{ product.price }} €</td>
                <td><a href="{{ path('product_view', {'id': product.id}) }}" class="btn btn-dark"><span class="d-none d-md-inline">Voir </span><i class="fa fa-search"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    
    <div id="orders" class="tab-pane fade">
        {# TABLEAU DES COMMANDES #}
        <h2>Mes commandes :</h2>
        <div class="table-responsive">
            <table class="table">
            <thead class="thead">
                <tr>
                <th scope="col">Référence</th>
                <th scope="col">Client</th>
                <th scope="col">Adresse du client</th>
                <th scope="col">Prix</th>

                <th scope="col">Détails</th>
                </tr>
            </thead>
            <tbody>
            {% for order in ordersList %}
                <tr>
                <td>{{ order.reference }}</td>
                <td>{{ order.buyer.firstname ~ ' ' ~ order.buyer.lastname }}</td>
                <td>{{ order.buyer.addresses[0].city ~ ' - ' ~ order.buyer.addresses[0].country }}</td>
                <td>{{ order.totalAmount }} €</td>
                <td><a href="{{ path('order_view', {'id': order.id}) }}" class="btn btn-dark"><span class="d-none d-md-inline">Voir </span><i class="fa fa-search"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
