{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h2>Commande n° {{ order.trackingNumber }}</h2>

    <a href="{{ path('board') }}" class="btn btn-dark mb-4">Retour au tableau de bord</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Date de la commande</th>
                <td>{{ order.createdAt ? order.createdAt|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ order.buyer.firstname }} {{ order.buyer.lastname }}</td>
            </tr>
            <tr>
                <th>Adresse de facturation</th>
                <td>
                    
                    {{ order.buyer.addresses[0].street }}<br>
                    {{ order.buyer.addresses[0].zipCode }} {{ order.buyer.addresses[0].city }}<br>
                    {{ order.buyer.addresses[0].country }}
                    
                </td>
            </tr>

            <tr>
                <th>Destinataire</th>
                <td>{{ order.buyer.addresses[0].firstname }} {{ order.buyer.addresses[0].lastname }}</td>
            </tr>
            <tr>
                <th>Adresse de livraison</th>
                <td>
                    {{ order.buyer.addresses[0].street }}<br/>
                    {{ order.buyer.addresses[0].zipCode }} {{ order.buyer.addresses[0].city }}<br/>
                    {{ order.buyer.addresses[0].country }}
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Détails de la commande</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead">
                <tr>
                    <th scope="col">Référence</th>
                    <th scope="col">Appellation</th>
                    <th scope="col">Couleur</th>
                    <th scope="col">Type</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Vintage</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
            {% for orderProduct in order.orderProducts %}
                <tr>
                    <th scope="row">{{ orderProduct.product.hsCode }}</th>
                    <td>{{ orderProduct.product.appellation.name }}</td>
                    <td>{{ orderProduct.product.color.name }}</td>
                    <td>{{ orderProduct.product.type.name }}</td>
                    <td>{{ orderProduct.product.capacity }}</td>
                    <td>{{ orderProduct.product.vintage }}</td>
                    <td>{{ orderProduct.product.price }} €</td>
                    <td>{{ orderProduct.quantity }}</td>
                    <td>{{ orderProduct.quantity * orderProduct.product.price }} €</td>
                </tr>
            {% endfor %}
                <tr>
                    <th scope="row"></th>
                    <td colspan="5"></td>
                    <td style="font-weight:bold">Sous-total</td>
                    <td>{{ order.totalQuantity }}</td>
                    <td>{{ order.totalAmount }} €</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="5"></td>
                    <td style="font-weight:bold">Frais de port</td>
                    <td></td>
                    <td>{{order.shippingCosts }} €</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="5"></td>
                    <td style="font-weight:bold">Total</td>
                    <td></td>
                    <td>{{ order.totalAmount + order.shippingCosts }} €</td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-end">

        {{ include('order/_delete_form.html.twig') }}
        {% if order.status == 2 %}
            <!-- <a class="btn btn-dark ml-3" href="{{ path('order_shiping_label',{'id': order.id}) }}"><i class="fas fa-truck mr-2"></i>Expédier</a> -->
            <a class="btn btn-dark ml-3" id="displayLoaderBtn" href="{{ path('order_ship',{'id': order.id}) }}"><i class="fas fa-truck mr-2"></i>Expédier</a>
        {% else %}
            <a class="btn btn-dark ml-3" href="{{ order.shippingLabel }}" target="_blank"><i class="fas fa-truck mr-2"></i>Obtenir le bon de transport</a>
        {% endif %}
    </div>

    <div id="loaderBox" hidden>
        <img src="https://www.weinwunderland.de/assets/frontend/img/preloader.gif">
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/loader.js') }}"></script>
{% endblock %}