{{ form_start(form)}}

{{ form_row(form.firstname) }}
{{ form_row(form.lastname) }}
{{ form_row(form.phoneNumber) }}

<div id="locationField" class="form-group" >
	<label for="autocomplete" class="required">Renseignez votre adresse complète ci-dessous</label>
	<input id="autocomplete" placeholder="Exemple: 57 Rue de Varenne, 75007 Paris" onFocus="geolocate()" type="text"/>
</div>
<div id="map"></div>
<table id="address">
	{{ form_row(form.street, { 'id': 'address'} ) }}
	{{ form_row(form.city, { 'id': 'locality'} ) }}
	{{ form_row(form.zipCode, { 'id': 'postal_code'} ) }}
	{{ form_row(form.province, { 'id': 'administrative_area_level_1'} ) }}
	{{ form_row(form.country, { 'id': 'country'} ) }}
	{{ form_row(form.iso, { 'id': 'iso'} ) }}
</table>
<table id="address" hidden>
	<tr>
		<td class="label">Adresse</td>
		<td class="slimField"><input class="field street_number" id="street_number" disabled="true"/></td>
		<td class="wideField" colspan="2"><input class="field route" id="route" disabled="true"/></td>
	</tr>
	<tr>
		<td class="label">Ville</td>
		<td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"/></td>
	</tr>
	<tr>
		<td class="label">Province</td>
		<td class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"/></td>
		<td class="label">Code Postal</td>
		<td class="wideField"><input class="field" id="postal_code" disabled="true"/></td>
	
	</tr>
	<tr>
		<td class="label">Pays</td>
		<td class="wideField" colspan="3"><input class="field" id="country" disabled="true"/></td>
	</tr>
<button class="btn save"><strong>{{ button_label|default('Enregistrer') }}</strong></button>
</table>         
            
{{ form_end(form) }}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/profilePage/addAddressGoogle.js') }}"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initMap"></script>
{% endblock %}